<div class="nav">
	<div class="nav-links">
		<a href="/">
			<img class="logo" width="32" height="32" src="/static/img/sekai-logo.png">
		</a>
		<a href="/zh-CN/wiki/目录.html">Wiki</a>
		<!--<a href="/news">News</a>-->
		<!--<a href="/games">Games</a>-->
	</div>
	<div class="download">
		<a href="#" class="btn-download" id="downloadBtn">Download</a>
		<div class="download-menu" id="downloadMenu">
			<a href="https://atomgit.com/Sekai-Engine/sekai-template/releases/download/v0.0.1/sekai.exe" class="download-item">
				<span class="download-icon">🪟</span>
				<span>Windows</span>
			</a>
			<a href="https://atomgit.com/Sekai-Engine/sekai-template/releases/download/v0.0.1/sekai.x86_64" class="download-item">
				<span class="download-icon">🐧</span>
				<span>Linux</span>
			</a>
		</div>
	</div>
</div>

